<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="dashboard.css">
	</head>
	<body>
		<div id="app">
			<div id="sidebar">
				<navelem @click="greet" v-for="elem in navElements" v-bind:text="elem.text" v-bind:link="elem.link"></navelem>
			</div>
			<div id="cards">
				<project-card v-for="elem in projects" v-bind:name="elem"></project-card>
				<div id="add">
					<span>+</span></div>
			</div>
		</div>
		<script src="../vue.js"></script>
		<script src="dashboard.js"></script>
	</body>
</html>